    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- SVG del cohete animado -->
    <svg id="cohete" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" fill="red">
      <path d="M12 2C8.13 2 5 6.75 5 12h3l-4 5-4-5h3C3 6.75 6.13 2 12 2zm0 2c-3.18 0-5 4.05-5 8h2c0-2.62 1.27-6 3-6s3 3.38 3 6h2c0-3.95-1.82-8-5-8zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
    </svg>
    <!-- Footer (opcional) -->
<footer class="text-center mt-5">
  <p>&copy; 2025 Mi Agencia. Todos los derechos reservados.</p>
</footer>

<!-- Scripts -->
<script src="{{ url_for('static', filename='contador.js') }}"></script>
<script src="{{ url_for('static', filename='particles-config.js') }}"></script>



<a href="https://wa.me/541125656764" class="whatsapp-float" target="_blank" title="Contáctanos por WhatsApp">
  <i class="fab fa-whatsapp"></i>
</a>

<!-- Ícono de Instagram flotante -->
<a href="https://www.instagram.com/software.agency1/" target="_blank" class="instagram-float">
  <img src="{{ url_for('static', filename='instagram.png') }}" alt="Instagram">
</a>

</body>
</html>


